
<kd-object-meta [initialized]="isInitialized"
                [objectMeta]="tenant?.objectMeta"></kd-object-meta>

<kd-card [initialized]="isInitialized">
  <div title
       i18n>Resource information</div>
  <div content
       *ngIf="isInitialized"
       fxLayout="row wrap">
    <kd-property *ngIf="tenant?.phase">
      <div key
           i18n>Status</div>
      <div value>{{tenant?.phase}}</div>
    </kd-property>
  </div>
</kd-card>

<kd-card [initialized]="isInitialized">
  <div title
       i18n>Tenant Workload Status</div>
  <div content
       *ngIf="isInitialized">
    <div class="kd-allocated-resources">
      <div class="kd-graph-container"
           fxFlex>
        <kd-allocation-chart [outerPercent]="node?.allocatedResources.cpuRequestsFraction"
                             [innerPercent]="node?.allocatedResources.cpuLimitsFraction"
                             id="cpu">
        </kd-allocation-chart>
        <div class="kd-graph-legend">
          <div class="kd-graph-legend-title"
               i18n>CPU allocation (cores)</div>
          <div class="kd-graph-legend-entry">
            <mat-icon class="kd-chart-green">stop</mat-icon>
            <span i18n>Requests</span>
            <span class="kd-graph-legend-value">
              {{node?.allocatedResources.cpuRequests | kdCores}}
            </span>
          </div>
          <div class="kd-graph-legend-entry">
            <mat-icon class="kd-chart-blue">stop</mat-icon>
            <span i18n>Limits</span>
            <span class="kd-graph-legend-value">
              {{node?.allocatedResources.cpuLimits | kdCores}}
            </span>
          </div>
          <div class="kd-graph-legend-entry">
            <div class="kd-graph-legend-placeholder"></div>
            <span i18n>Capacity</span>
            <span class="kd-graph-legend-value">
              {{node?.allocatedResources.cpuCapacity | kdCores}}
            </span>
          </div>
        </div>
      </div>
      <div class="kd-graph-container"
           fxFlex>
        <kd-allocation-chart [outerPercent]="node?.allocatedResources.memoryRequestsFraction"
                             [innerPercent]="node?.allocatedResources.memoryLimitsFraction"
                             id="memory">
        </kd-allocation-chart>
        <div class="kd-graph-legend">
          <div class="kd-graph-legend-title"
               i18n>Memory allocation (bytes)</div>
          <div class="kd-graph-legend-entry">
            <mat-icon class="kd-chart-green">stop</mat-icon>
            <span i18n>Requests</span>
            <span class="kd-graph-legend-value">
              {{node?.allocatedResources.memoryRequests | kdMemory}}
            </span>
          </div>
          <div class="kd-graph-legend-entry">
            <mat-icon class="kd-chart-blue">stop</mat-icon>
            <span i18n>Limits</span>
            <span class="kd-graph-legend-value">
              {{node?.allocatedResources.memoryLimits | kdMemory}}
            </span>
          </div>
          <div class="kd-graph-legend-entry">
            <div class="kd-graph-legend-placeholder"></div>
            <span i18n>Capacity</span>
            <span class="kd-graph-legend-value">
              {{node?.allocatedResources.memoryCapacity | kdMemory}}
            </span>
          </div>
        </div>
      </div>
      <div class="kd-graph-container"
           fxFlex>
        <kd-allocation-chart [outerPercent]="node?.allocatedResources.podFraction"
                             id="pods">
        </kd-allocation-chart>
        <div class="kd-graph-legend">
          <div class="kd-graph-legend-title"
               i18n>Pods allocation</div>
          <div class="kd-graph-legend-entry">
            <mat-icon class="kd-chart-green">stop</mat-icon>
            <span i18n>Allocation</span>
            <span class="kd-graph-legend-value">{{node?.allocatedResources.allocatedPods}}</span>
          </div>
          <div class="kd-graph-legend-entry">
            <div class="kd-graph-legend-placeholder"></div>
            <span i18n>Capacity</span>
            <span class="kd-graph-legend-value">{{node?.allocatedResources.podCapacity}}</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</kd-card>



<kd-pod-list></kd-pod-list>
